[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
django = "*"
channels = "*"
django-filter = "*"
django-pipeline = "*"
django-cors-headers = "*"
django-graphql-jwt = "*"
channels-redis = "*"
rx = "*"
namedlist = "*"
django-graphql-playground = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.6"
